page-home {

}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }

  .scroll-view{
    height: 100%;
  }

  .record {
      background-color: rgb(80, 255, 240);
  }